* {
    box-sizing: border-box;
}

body {
    background-color: #4385f3;
    font-family: 'arial', sans-serif;
    height: 100vh;
}

.image {
  left: 0;
  width: 200px;
  position: absolute;
  animation: anima 1s ease alternate infinite;
  filter: grayscale();
}

.imageGPU {
  left: 0;
  will-change: transform;
  transform: translateX(0%) scale(.5);
  position: absolute;
  animation: animaGPU 1s ease alternate infinite;
}

@keyframes anima {
  to {
      left: 750px;
      width: 260px;
  }
}

@keyframes animaGPU {
  to {
      transform: translateX(750px) scale(.9);
  }
}